#question{
    border: black solid 2px;
    width: 300px;
    height: 300px;
    font-size: 30pt;
    border-radius: 1%;
    //display: inline-block;
}

#answer{
    margin-top: 15px;
    border: black solid 2px;
    width: 300px;
    height: 300px;
    font-size: 20pt;
    border-radius: 1%;
    //display: inline-block;
}