body{
	background-color: #ecc751;
	color: #2d2825;
	font-size: 25px;
	text-align: center;
	background-image: url('/img/grass.jpg');
}

form {
	margin: 0% 25%;
	background-color: #eb9821;
	border: #cc831c solid 2px;
	border-radius: 3%;
	width: 50%;
}

.error{
	background-color: #C57F1A;
}

input, textarea, select{
	font-size: 25px;
	width: 50%;
	height: 50px;
	background-color: #ffeb90;
	border: #cc831c solid 3px;
}

textarea{
	height: 250px;
}

#radio{
	font-size: 25px;
	width: 5%;
	height: 25px;
	background-color: #ffeb90;
}

table {
   background-color: #ffeb90;
   border-collapse: separate;
   border-spacing: 10px 20px;
   border-radius: 5px;
   border: #C57F1A solid 3px;
   text-align: center;
}
/* задаём для ячейки тела таблицы границу серого цвета толщиной 1px */
td {
   border-bottom: #C57F1A solid 1px;
}

th {
	border-bottom: #C57F1A solid 3px;
}
h1{
	margin-block-start: 0em;
	margin-block-end: 0em;
}

#history_table{
	margin: 0% 25%;
	background-color: #eb9821;
	border: #cc831c solid 2px;
	border-radius: 3%;
	width: 50%;
}